
#hola{
    margin: auto;
    width: 50%;
    max-width: 500px;
    background-color: rgb(125, 126, 122);
    padding: 20px;
    border:3px solid black 8px rgba(0, 0, 0, 7);
    align-content: center;

}
/* h1{
    text-align: center;
    margin-bottom: 20px;
    color:rgb(96, 150, 11) olivedrab;

} */


.hide{
    display: none;
}
body{
    background-color: rgb(134, 172, 73);
    text-align: center;

}
#pag1{
font-size: 18px;
}
#para{
    font-size: large;
}
textarea{
    border: solid;
}
.msje{
    border: solid;
    height: 200px;
    margin: 20px;
}
h1{
    font-family: 'arial', sans-serif;
    font-size: 50;
}
input{
    margin: 20px;
    font-size: 18px;
    font-weight: 100;
}
button{
    border-radius: 10px;
    outline: none;
    font-weight: 900;
}
label{
    font-size: 16px;
    font-weight: 800
}
    
#numOffset{
    width: 55px;
    margin: 20px;
    font-size: 23px;
    font-weight: 300;
    height: 34px;
    border: solid;

}
#numOffset1{
    width: 55px;
    margin: 20px;
    font-size: 23px;
    font-weight: 300;
    height: 34px;
    border: solids;
}

/* #pag1{
    background-color: olive;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
} */